<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div class="notifications">
      <% @article.errors.full_messages.each do |message| %>
        <div class=<%= "message-error" %>><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field form_article_title">
    <%= f.text_field :title, placeholder: 'Title', :class => 'form_article_title_input' %>
  </div>
  <div id="epiceditor", style="height: 400px;"></div>
  <%= f.text_area :body, placeholder: 'Write your article here. You can use markdown.', :id => 'epiceditor-textarea', :style => 'display: none;'%>
  
  
  <div class="actions">
    <%= f.submit 'Save', id: 'save-button' %>
  </div>
  
  
<% end %>


<script type="text/javascript">
//<![CDATA[
  start_epiceditor_edit_mode();

//]]>
</script>