<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Basic Knowledge Base</title>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47709257-1', 'basic-knowledge-base.herokuapp.com');
    ga('send', 'pageview');
  </script>
  
  </head>

  <body>

    <!-- Begin Wrapper -->
    <div id="wrapper">

      <!-- Begin Header -->
      <div id="header">
        Basic Knowledge Base
      </div>
      <!-- End Header -->

      <!-- Begin Naviagtion -->
      <%= render '/layouts/navigation' %>
      <!-- End Naviagtion -->

      <!-- Begin Content -->
      <div id="content">

        <% if flash.each.count > 0 %>
        <div class="notifications">
          <% flash.each do |type, message| %>
            <div class=<%= "message-#{type}" %>><%= message %></div>
          <% end %>
        </div>
        <% end %>

        <%= yield %>

      </div>
      <!-- End Content -->

    </div>
    <!-- End Wrapper -->

  </body>
</html>
