<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Basic Knowledge Base</title>
  </head>

  <body>

    <!-- Begin Wrapper -->
    <div id="wrapper">

      <!-- Begin Header -->
      <div id="header">
        Basic Knowledge Base
      </div>
      <!-- End Header -->

      <!-- Begin Naviagtion -->
      <%= render '/layouts/navigation' %>
      <!-- End Naviagtion -->

      <!-- Begin Content -->
      <div id="content">

        <% if flash.each.count > 0 %>
        <div class="notifications">
          <% flash.each do |type, message| %>
            <div class=<%= "message-#{type}" %>><%= message %></div>
          <% end %>
        </div>
        <% end %>

        <%= yield %>

      </div>
      <!-- End Content -->

    </div>
    <!-- End Wrapper -->

  </body>
</html>
